<template>
  <q-page class="bg-grey-2">
    <div class="row">
      <div class="col q-px-lg q-pt-lg q-pb-xs">
        <!-- <h4 class="text-green text-bold text-center" style="margin: 0; font-size: 26px">Kini bunda <span class="bg-yellow text-red">tidak perlu repot lagi</span> beli sayur ke pasar</h4>
        <br/>
        <h6 class="text-center" style="margin: 0; font-size: 21px">Bunda <span>#dirumahaja</span> biar kita antar langsung ke rumah</h6>
        <br/> -->
        <!-- <img src="~/assets/BannerPromoGratisOngkir-min.png" width="100%" style="border-radius: 10px" /> -->
        <!-- <q-btn v-scroll-to="'#listproduct'" rounded flat class="bg-red-5 full-width text-white q-mt-md">Belanja Sekarang</q-btn> -->
        <swiper ref="mySwiper" :options="swiperOptions">
          <swiper-slide v-for="(item, index) in dataSlider" :key="index">
            <img :src="item.slider_image" width="100%" style="border-radius: 10px" />
          </swiper-slide>
          <div class="swiper-pagination" slot="pagination"></div>
        </swiper>
        <q-select class="bg-white" color="pink" outlined dense options-dense v-model="filterProduct" :options="[{label: 'Menu Hari Ini', value: 'today'}, {label: 'Semua Menu', value: 'all'}]" style="margin-top: 35px" />
      </div>
    </div>
    <div id="listproduct" class="fit row wrap justify-start items-start q-py-lg q-px-md">
      <div class="col-6" v-for="(prd, i) in myProducts" :key="i">
        <q-card class="bg-white shadow-1" style="margin: 0px 7px 15px 7px">
          <q-card-section style="margin-bottom: -15px">
            <img :src="prd.image" style="width: 100%" />
            <div style="padding: 0px 16px 0px 16px">
              <center>
                <div style="font-family: 'Open Sans';font-size: 12px; font-weight: bold; height: auto; margin-bottom: 5px">{{ prd.title }}</div>
                <div v-if="prd.desc" style="font-family: 'Open Sans';font-size: 10px; font-weight: 500; height: auto; margin-bottom: 15px">{{ prd.desc }}</div>
                <!-- <div class="text-black" style="font-size: 10px;">Harga :</div>
                <div class="q-px-sm q-py-xs bg-grey-4">
                  <div class="text-black" style="font-weight: bolder; margin-top:0">{{ 'Rp' + formatPrice(prd.price) }}</div>
                </div> -->
                <div class="text-green col-6" style="font-weight: 900; margin-top:0; font-size: 18px">{{ 'Rp' + formatPrice(prd.price) }}</div>
                <div class="text-black col-6" style="font-weight: bolder; margin-top:0;">Stok: {{ prd.inventory }}</div>
              </center>
            </div>
              
          </q-card-section>

          <q-card-actions>
            <q-btn rounded @click="addProductToCart(prd, i)" flat class="bg-red-5 text-white full-width" style="padding-top: 0px; padding-bottom: 0px;">
              <q-circular-progress
                indeterminate
                :thickness="0.3"
                size="20px"
                color="white"
                v-if="buttonLoading[i]"
              />
              <span v-if="buttonLoading.length == 0 || buttonLoading[i] != true" style="text-transform: capitalize; font-weight: bold; font-size: 12px">Tambah Ke Keranjang</span>
            </q-btn>
          </q-card-actions>

        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import { mapMutations, mapState, mapActions } from 'vuex';
import { Swiper, SwiperSlide, directive } from 'vue-awesome-swiper'
var VueScrollTo = require('vue-scrollto');

// import style (>= Swiper 6.x)
import 'swiper/swiper-bundle.css'

Vue.use(VueScrollTo);

export default {
  name: 'PageIndex',
  components: {
    Swiper,
    SwiperSlide
  },
  data () {
    return {
      // 
      cart: [],
      visibleProgress: false,
      buttonLoading: [],
      dataSlider: [],
      filterProduct: {label: 'Semua Menu', value: 'all'},
      swiperOptions: {
        autoplay: {
          delay: 1000,
          disableOnInteraction: true
        },
        loop: true,
        spaceBetween: 30,
        pagination: {
          el: '.swiper-pagination'
        },
        // Some Swiper option/callback...
      }
    }
  },
  created () {
    this.$store.dispatch('products/fetchProducts');
    this.cart = this.$store.state.cart.items;
    this.getSliderImage();
  },
  mounted () {
    console.log('Current Swiper instance object', this.swiper);
    this.swiper.slideTo(3, 1000, false);
  },
  computed: {
    ...mapState({
      products: state => state.products.dataProducts
    }),
    swiper() {
      return this.$refs.mySwiper.$swiper
    },
    myProducts() {
      if(this.filterProduct !== '' && this.filterProduct.value == 'today') {
        return this.products.filter(item => item.category == this.filterProduct.value)
      }else{
        return this.products;
      }
    }
  },
  methods: {
    formatPrice(value) {
        let val = (value/1).toFixed(0).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },
    addProductToCart(product, key) {
      Vue.set(this.buttonLoading, key, true);

      setTimeout(() => {
        this.buttonLoading = [];
        this.$store.dispatch('cart/addProductToCart', product);
        //this.playSound();
      }, 500)
    },
    playSound () {
      var audio = new Audio("https://slada.imfast.io/src/assets/push.mp3");
      audio.play();
    },
    scrollButton (idName) {
      var el = this.$el.getElementsById(idName)[0];
      el.scrollIntoView();
    },
    getSliderImage() {
      
      axios.get( "https://api.sheetson.com/v1/sheets/Sheet1?spreadsheetId=1uJ6Psnw7Xwh6o2_N6HeB3xMB0lntcCOTdvcjK3PngAQ" )
        .then(response => {
          console.log(response)
          this.dataSlider = response.data.results;
        })
        .catch(error => {
          if (error.response) {
            console.log(error.response)
          }
        });

    }
    // ...mapMutations('products', [
    //   ''
    // ])
  },
  directives: {
    swiper: directive
  }
}
</script>