// app global css
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

.mobile-layout-on-desktop {
	max-width: 380px; 
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0 0 15px 1px rgba(0,0,0,.1);
}

#q-app {
	background-color: #fcc7dc;
    // background-image: url("https://media.istockphoto.com/vectors/seamless-vegetables-icons-background-vector-id1094415140");
    // background-repeat: repeat;
    // background-size: 700px;
	// background-attachment: fixed;
}

.bg-slada {
	background-color: #E40082;
}

@media only screen and (max-width: 600px) {
	.mobile-layout-on-desktop {
		width: 100% !important;
		max-width 100% !important;
	}
}